{
  "presets": [
    ["es2015", {"modules": false}]
  ],
  "env": {
    "production": {
      "plugins": ["angularjs-annotate"]
    },
    "test": {
      "plugins": [
        [
          "istanbul", {
            "exclude": [
              "src/index.js",
              "**/*.spec.js"
            ]
          }
        ]
      ]
    }
  }
}
